
worker_processes  1;

error_log  /dev/stderr;
daemon off;
pid /dev/null;

events {
    worker_connections  1024;
}


http {
    include {{stew_install}}/nginx/conf/mime.types;
    default_type application/octet-stream;
    access_log /dev/stdout;
    #all the services exposed by haproxy here
    {{#services}}
    upstream front_{{port}} {
        server 127.0.0.1:{{port}};
    }
    {{/services}}
    keepalive_timeout 65;
    proxy_read_timeout 200;
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    #nginx provides compression
    gzip on;
    gzip_min_length 1000;
    gzip_proxied any;
    gzip_types text/plain text/css text/xml
               application/x-javascript application/xml
               application/atom+xml text/javascript;
    # Only retry if there was a communication error, not a timeout
    proxy_next_upstream error;

    #and here are the proxies
    {{#services}}
    server {
        listen {{proxy_port}};
        
        #Allow file uploads
        client_max_body_size 50M;
         location /  {
          root {{directory}}/public;
          index index.html;

          location ~.*\.(3gp|gif|jpg|jpeg|png|ico|wmv|avi|asf|asx|mpg|mpeg|mp4|pls|mp3|mid|wav|swf|flv|txt|js|css|exe|zip|tar|rar|gz|tgz|bz2|uha|7z|doc|docx|xls|xlsx|pdf|iso|woff|ttf|eot|svg)$ {
               #expires -1;
                add_header Access-Control-Allow-Origin *;
            }
        }
       

    }
    {{/services}}
}