*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc	
doc/

#local files
__all__.*
.DS_Store
.auto*
.haproxy
.nginx.conf
.packages
.profile
.schedule.rb
.supervisord
.vagrant
.bootstrap.sh
Vagrantfile
*.log
*.tar.gz
*_temp
.vagrant/
.vagrant
Vagrantfile
bz2/
.tmp/
node_modules/
var/log/





